{% extends "base.html" %}
{% block title %}登入{% endblock %}

{% block css %}
<style>
main {
    display: flex;
    flex-flow: row wrap-reverse;
    gap: 3rem;
}

main > * {
    width: 100%;
}
@media screen and (min-width: 768px) {
    main > * {
        flex: 1 0px;
    }
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

form > * {
    width: 100%;
}

form > img {
    width: 5rem;
}
@media screen and (prefers-color-scheme: dark) {
    form > img {
        filter: drop-shadow(0 0 0.2rem #fff)
    }
}

.button.telegram {
    margin: 1rem 0;
    line-height: 1.8;
    font-size: 1.15rem;
    background-color: #0088cc;
    color: #fff;
}

.hr-div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}
.hr-div > hr {
    flex: 1;
}
</style>
{% endblock %}

{% block main %}
<aside>
    <h1>{{ TITLE }} 与会者注册</h1>
    {% if block_register %}
    <div class="infobox warning">
        <p>当前{{ block_register }}。</p>
    </div>
    {% elif NOW() <= INTERNAL_ONLY %}
    <div class="infobox warning">
        <p><strong>注意！</strong>目前为社区贡献者封闭注册期，请使用指定账号注册。公众注册开放时间请见下方专题页。</p>
    </div>
    {% else %}
    <div class="infobox">
        <p>当前注册开放中。</p>
    </div>
    {% endif %}
    <p>安同开源社区年度聚会 {{ TITLE }} 将于 8 月 15-16 日在杭州电子科技大学（下沙校区）举行。在为期两天的活动中，欢迎您来聆听行业一线人员分享知识经验、广交好友。</p>
    <p>{{ TITLE }} 不设注册费，欢迎感兴趣的朋友注册参会！</p>
    <p>更多会议相关信息，请见 <a href="https://aosc.io/aoscc/{{ NOW().year }}" target="_blank">社区门户 {{ TITLE }} 专题</a>。</p>
    <p>注册时遇到问题？请{{ CONTACT_US | safe }}寻求帮助。</p>
</aside>
<form method="post">
    <img src="{{ url_for('static', filename='aosc.png') }}" alt="AOSC Logo">
    <a class="button telegram" href="https://t.me/AOSCCbot?start=1" target="_blank">通过 Telegram 机器人登入</a>
    <div class="hr-div"><hr>或使用邮箱登入<hr></div>
    <input type="email" name="email" placeholder="example@aosc.io" required maxlength="254">
    <button type="submit">发送验证邮件</button>
    <script>
        document.querySelector('form').addEventListener('submit', (event) => {
            event.currentTarget.addEventListener('submit', (event) => {
                event.preventDefault();
                return false;
            })
        })
    </script>
</form>

{% endblock %}
