{% extends "user/base.html" %}
{% block title %}纪念品{% endblock %}

{% block css %}
<style>
article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    gap: 1rem;
}
section {
    display: flex;
    flex-flow: column nowrap;
    background-color: #9992;
}

section div.img-loader {
    display: flex;
    aspect-ratio: 1 / 1;
    max-width: 100%;
}
section div.img-loader img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
section div.img-loader.loading img {
    position: relative;
    left: -100%;
    filter: brightness(50%) blur(5px);
    z-index: -1;
}
section div.img-loader.loading::before {
    content: " ";
    float: left;
    margin: 30%;
    width: 40%;
    aspect-ratio: 1 / 1;
    border: 20px solid;
    border-radius: 50%;
    border-color: var(--fg) transparent;
    animation: loader 1s infinite;
}
@keyframes loader {
    to{
        transform: rotate(0.5turn);
    }
}

section div.card-content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
    height: max-content;
}
section h3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
}
section h3 span {
    flex: 0 0 fit-content;
    color: mediumvioletred;
}
section p.cutoff strong {
    display: inline-block;
    outline: 1px solid;
    padding: 1px;
}

section form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: auto;
}
section form:has(select) {
    grid-template-columns: 2fr 1fr;
}
section form > * {
    width: 100%;
}
section form:has(select) button {
    grid-column-end: span 2;
}

details:not(:has(section)) {
    display: none;
}

dialog[open] {
    height: 100vh;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
dialog::backdrop {
    background-color: #666e;
}
dialog img {
    max-width: 100%;
    max-height: 100%;
}
</style>
{% endblock %}

{% macro merch_card(item) -%}
<section>
    <div class="img-loader loading">
        <img loading="lazy" src="{{ url_for('static', filename='merch/'+item.img) }}">
    </div>
    <div class="card-content">
        <h3>{{ item.name }}<span>{{ item.price | price | safe }}</span></h3>
        <p>{{ item.desc | safe }}</p>
        {% if NOW() < item.cutoff %}
        <p class="cutoff"><strong>{{ item.cutoff_str }}</strong></p>
        <form method="post" action="{{ url_for('user.post_merch_buy') }}">
            {% if '' not in item.sku %}
            <select name="sku">
                {% for sku in item.sku %}
                <option value="{{ sku }}">{{ sku }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <input type="number" name="quantity" value="1" min="1" max="99">
            <input type="hidden" name="name" value="{{ item.name }}">
            <button type="submit" class="primary">订购</button>
        </form>
        {% endif %}
    </div>
</section>
{%- endmacro -%}

{% block page %}

<h2>橱窗</h2>
<article>
    {% for item in inventory %}
    {% if NOW() < item.cutoff %}
    {{ merch_card(item) }}
    {% endif %}
    {% endfor %}
</article>
<details>
    <summary>展开不在售项目</summary>
    <article>
        {% for item in inventory %}
        {% if NOW() > item.cutoff %}
        {{ merch_card(item) }}
        {% endif %}
        {% endfor %}
    </article>
</details>
<dialog><img></dialog>
<script>
    let modal = document.querySelector('dialog');
    let img = document.querySelector('dialog img');
    modal.addEventListener('click', (event) => {
        modal.close();
    });
    document.querySelectorAll('section img').forEach((elm) => {
        elm.addEventListener('click', (event) => {
            img.src = event.currentTarget.src;
            modal.showModal();
        });
        elm.addEventListener('load', (event) => {
            event.currentTarget.parentElement.classList.remove('loading');
        })
        if (elm.complete) elm.dispatchEvent(new Event('load'));
    });
</script>


<h2>收货信息</h2>
{% if g.registered %}
<div class="infobox">
    <p>提示：您已注册 {{ TITLE }}，如计划在会场领取订购的纪念品，无需填写地址。</p>
</div>
{% elif items and not form %}
<div class="infobox error">
    <p><strong>注意！</strong>您还未填写收货信息，也未注册会议！</p>
</div>
{% endif %}
<p>参加 {{ TITLE }} 的与会者可以在会场提货，如不计划参加或不便自提，您也可以填写地址选择邮寄送货，运费自付。</p>
<p>请填写准确的收货信息，如因收货信息不正确或不准确导致无法发货，产生的运费等损失由您自行承担。</p>
<p>如果所预订的商品已经交付生产，收货信息修改可能无法生效，如有需要，请{{ CONTACT_US | safe }}。</p>
<form method="post" action="{{ url_for('user.post_merch_address') }}">
    <div class="form-row">
        <label for="address">收货地址</label>
        <textarea id="address" name="address" required rows="3"
            minlength="10" maxlength="200" placeholder="北京市西城区复兴门外大街2号">{{ form['address'] }}</textarea>
        <div>请按「xx省xx市xx区 具体地址」顺序完整填写，如需海外收货，请在填写后{{ CONTACT_US | safe }}。</div>
    </div>
    <div class="form-row">
        <label for="phone">收货电话</label>
        <input type="tel" id="phone" name="phone" required
            minlength="5" maxlength="20" value="{{ form['phone'] }}" placeholder="13800000000">
    </div>
    <div class="form-row">
        <label for="name">收货人</label>
        <input type="text" id="name" name="name" required maxlength="10" value="{{ form['name'] }}" placeholder="安安">
    </div>
    <div class="form-row">
        <label></label>
        <div><button type="submit" class="primary">保存</button></div>
    </div>
</form>


<h2>我的订单</h2>
{% if items %}
<p>我们将在各商品订购截止后交付工厂生产，之后您的订单状态将变更为「生产中」或「已发货」。</p>
<p>在此之前，无论是否已付款，您都可以随时在此修改您的订单。交付生产后不支持退款。</p>
<p>该表格可能需要横向滚动以查看完整内容。</p>
<table>
    <thead>
        <tr>
            <th>品项</th>
            <th>型别</th>
            <th>数量</th>
            <th>单价</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item['item'] }}</td>
            <td>{{ item['spec'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td>{{ item['price'] | price | safe }}</td>
            <td>{{ {0:'已订购',1:'生产中',2:'已发货'}.get(item['status'], '') }}</td>
            <td>
                {% if not item['status'] %}
                <form method="post" action="{{ url_for('user.post_merch_remove', bid=item['bid']) }}">
                    <button type="submit">删除</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>小计：{{ total | price | safe }}</p>
<p>该价格不含运费。运费可能为到付，或以发货时通知为准。</p>
<p>订单交付生产后不支持退款。</p>
<p><a class="button primary" href="{{ url_for('user.billing') }}">去结算 &gt;</a></p>
{% else %}
<p>订单为空，在上方选购后再回来看看吧～</p>
{% endif %}

{% endblock %}
