{% extends "user/base.html" %}
{% block title %}参会证{% endblock %}

{% block css %}
<style>
section {
    position: relative;
    max-width: 30rem;
    width: 100%;
}
img#bg {
    width: 100%;
}
img#fg {
    position: absolute;
    box-sizing: content-box;
    top: 32.5%;
    left: 9.2%;
    width: 56.7%;
}
</style>
{% endblock %}

{% block page %}
<div class="infobox warning">
    <p>该参会证可用于签到及领取会议纪念品，可截图使用，但请勿发送给他人。</p>
</div>
<section id="pass">
    <img id="bg" src="{{ url_for("static", filename="visitor_pass.png") }}">
    <img id="fg" src="data:image/png;base64,{{ qr | safe }}">
</section>
{% endblock %}
