{% extends "user/base.html" %}
{% block title %}参会服务{% endblock %}

{% block css %}
<style>
h3 ~ p:not(.noindent) {
    margin-left: 1rem;
}
</style>
{% endblock %}

{% macro volunteer() -%}
{% if VOLUNTEER_OPEN == true %}
<h3>报名志愿者</h3>
<p>{{ TITLE }}，有你更精彩！我们正在招募会务志愿者，欢迎有意协助现场工作的朋友报名。</p>
<p><a href="{{ url_for('service.volunteer') }}">去报名 &gt;&gt;</a></p>
{% endif %}
{%- endmacro -%}

{% macro checkin() -%}
<h3>参会证</h3>
<p>查看电子参会证、<strong>完成现场签到</strong>，以及在会场领取您订购的纪念品。</p>
<p><a href="{{ url_for('service.checkin') }}">参会证 &gt;&gt;</a></p>
{%- endmacro -%}

{% macro badge() -%}
<h3>定制胸牌</h3>
<p>线下与会者可免费定制胸牌，欢迎您填入自定义昵称及自我介绍，或上传图片发挥您的创意。</p>
{% if NOW() < BADGE_CLOSE %}
<p>定制将于 {{ BADGE_CLOSE | datetime }} 截止。</p>
{% else %}
<p>定制已截止，您可以在此查看已定制的胸牌。</p>
{% endif %}
<p><a href="{{ url_for('service.badge') }}">去定制 &gt;&gt;</a></p>
{%- endmacro -%}

{% macro accommo() -%}
<h3>预订住宿</h3>
<p>协议酒店预订、拼房登记由此进。</p>
{% if NOW() < ACCOMMO_CLOSE %}
<p>住宿预订将于 {{ ACCOMMO_CLOSE | datetime }} 结束，在此之前可自主预订或取消。</p>
{% else %}
<p>住宿预订已截止，如有预订可以在此查看详情。</p>
{% endif %}
<p><a href="{{ url_for('service.accommo') }}">去预订 &gt;&gt;</a></p>
{%- endmacro -%}

{% macro pgp() -%}
<h3>PGP 签名派对</h3>
<p>会议期间同步进行分散式 PGP 签名派对：来与新老朋友们共织信任网 (Web of Trust) 吧！</p>
<p><a href="{{ url_for('service.pgp') }}">去填写 &gt;&gt;</a></p>
{%- endmacro -%}

{% macro vote() -%}
<h3>代号投票</h3>
<p>每年的 AOSCC ，我们都会投票产生下一个安同 OS 版本代号，请您按表决器！</p>
<p><a href="{{ url_for('service.vote') }}">去投票 &gt;&gt;</a></p>
{%- endmacro -%}

{% macro draw() -%}
<h3>抽奖</h3>
<p>会议期间我们将进行数场抽奖活动，来试试手气？</p>
<p><a href="{{ url_for('service.draw') }}">去参与 &gt;&gt;</a></p>
{%- endmacro -%}


{% block page %}

<h2>您已{{ '签到' if g.arrived else '完成注册' }}，接下来……</h2>
<p>查询议程、地址等会议相关信息，请见<a href="https://aosc.io/aoscc/2025" target="_blank">社区门户 AOSCC 2025 专题</a>。</p>
<div>
{% if g.arrived %}
    {{ pgp() }}
    {{ vote() }}
    {{ draw() }}
    <hr>
    <p class="noindent">以下选项可供查看：</p>
    {{ accommo() }}
    {{ badge() }}
    {{ checkin() }}
{% else %}
    {{ volunteer() }}
    {{ checkin() }}
    {{ badge() }}
    {{ accommo() }}
    {{ pgp() }}
{% endif %}
</div>

{% if not g.arrived %}
<h2>取消注册</h2>
    {% if 'REGOK' not in g.remarks and not REGISTER_OPEN %}
    <div class="infobox warning">
        <p>注意！当前不在注册开放时间，取消后可能无法重新注册！</p>
    </div>
    {% endif %}
    <p>如需取消注册，请点击下方按钮，我们将立即删除您的实名信息。</p>
    <form method="post" action="{{ url_for('service.post_cancel') }}"
        onsubmit="return confirm('取消注册将同时删除您已填写的注册及参会服务信息，您确定要取消注册吗？')">
        <button type="submit" class="danger">取消注册</button>
    </form>
{% endif %}

{% endblock %}
