{% extends "index.html" %}
{% block title %}账单{% endblock %}

{% block css %}
<style>
.grand-total {
    font-size: 1.3rem;
    font-weight: bold;
}
#qrcodes img {
    max-width: 45%;
}
</style>
{% endblock %}

{% block page %}

<h2>账单</h2>
{% if items %}
<table>
    <thead>
        <tr>
            <th>日期</th>
            <th>类别</th>
            <th>品项</th>
            <th>型别</th>
            <th>数量</th>
            <th>单价</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td title="{{ item['t'] | ts2dt | datetime }}">
                {{ item['t'] | ts2dt | date }}
            </td>
            <td>{{ item['category'] or '其他' }}</td>
            <td>{{ item['item'] }}</td>
            <td>{{ item['spec'] }}</td>
            <td>{{ item['quantity'] }}</td>
            <td>{{ item['price'] | price | safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="grand-total">总计：{{ total | price | safe }}</p>
{% else %}
<p>您尚未订购任何项目。</p>
{% endif %}

<h2>支付</h2>
{% if total > 0 %}
<p>支付如上所列款项，即表示您对订购相应项目时列明的条款与条件无异议的认可。</p>
<p>您总共应支付 {{ total | price | safe }} 元，可以通过下列方式扫码支付。</p>
<p><strong>付款时请点击下方【添加备注】附言【{{ hash }}】。</strong></p>
<div class="infobox warning">
    <p><strong>务必注意！</strong>如忘记添加转账附言，请立即<a href="{{ url_for('contact') }}">联系组委会</a>，若因此造成损失由您自行承担。</p>
</div>
<p>由于转账需要收款志愿者人工确认，请您支付完成一段时间后查看账单状态。</p>
<p>如支付遇到问题，或超过 3 日仍未被确认，请<a href="{{ url_for('contact') }}">联系组委会</a>。
<div id="qrcodes">
    <img src="{{ url_for('static', filename='alipay.jpg') }}" alt="支付宝收款码">
    <img src="{{ url_for('static', filename='wechat.jpg') }}" alt="微信支付收款码">
</div>

{% elif total == 0 %}
<p>您目前没有待支付的项目。</p>
{% elif total < 0 %}
<p>
    您支付的金额超出了所订购的项目，请<a href="{{ url_for('contact') }}">联系组委会</a>获取退款信息。
</p>
{% endif %}

{% endblock %}
