{% extends "index.html" %}
{% block title %}参会注册{% endblock %}

{% block page %}
<div class="infobox">
    <p>提示：若要获取会议纪念品，请于 {{ REGISTER_CLOSE | datetime }} 之前完成注册。</p>
</div>
<form method="post" autocomplete="off">
    <h2>实名登记</h2>
    <p>因大型活动治安管理要求，我们需要对与会者进行实名登记。</p>
    <p>这些信息将被<strong>非对称加密</strong>存储，仅限社区和承办社团代表有权查看，并将在会议结束后销毁。</p>
    <div class="form-row">
        <label for="legal_name">真实姓名</label>
        <input type="text" id="legal_name" name="legal_name" required minlength="2" maxlength="20">
    </div>
    <div class="form-row">
        <label for="citizen_id">身份证号</label>
        <input type="text"
            id="citizen_id" name="citizen_id" required
            minlength="18" maxlength="18" pattern="[0-9]{17}[0-9X]">
        <div>如果您没有身份证号，请<a href="{{ url_for('contact') }}">联系组委会</a>以提交其他有效证件。</div>
    </div>
    <h2>参会须知</h2>
    <p>为了维护会场秩序和所有与会者的体验，请您阅知以下参会注意事项。</p>
    <ol>
        <li>议程期间请保持安静，将手机调整至静音模式，如需提问请举手示意并等待主讲人同意</li>
        <li>注意人身和财产安全，如遇身体不适或突发情况，请迅速向志愿者求助</li>
        <li>未经他人允许，<strong>严禁接触其他与会者的人身及财物</strong>、拍摄他人；禁止滋扰他人、大声喧哗等扰乱会场秩序的行为</li>
        <li>在校园内，请严格遵守法律法规和承办高校规定，注意行为举止、爱护公物、文明参观，禁止进入受限和保密区域</li>
        <li>会场设有多个垃圾桶，请注意卫生，不要乱丢垃圾</li>
        <li>请听从志愿者的现场管理，会务志愿者在认为必要的情况下，保留要求特定与会者离开会场及校园的权力</li>
    </ol>
    <div class="form-row">
        <label></label>
        <div>
            <input type="checkbox" id="consent" name="consent" required>
            <label for="consent">我已阅读并同意遵守以上参会注意事项</label>
        </div>
    </div>
    <div class="form-row">
        <label></label>
        <div>
            <button type="submit" class="primary">提交注册</button>
        </div>
    </div>
</form>
{% endblock %}
