{% extends "admin.html" %}
{% block title %}权限管理{% endblock %}

{% block css %}
<style>
td {
    font-family: monospace;
}
</style>
{% endblock %}

{% block page %}

<h2>当前管理员</h2>
<table>
    <thead>
        <tr>
            <th>客户端 ID</th>
            <th>角色权限</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
        <tr>
            <td>{{ admin['id'] }}</td>
            <td>{{ admin['roles'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>授权与除权</h2>
<form method="post">
    <div class="form-row">
        <label for="id">客户端 ID</label>
        <input type="text" id="id" name="id" required minlength="32" maxlength="32" pattern="[0-9a-f]{32}">
    </div>
    <div class="form-row">
        <label for="role">授予角色</label>
        <select id="role" name="role">
            <option value="">撤销权限</option>
            <option value="payment">支付管理 payment</option>
            <option value="notify">通知管理 notify</option>
            <option value="checkin">签到 checkin</option>
            <option value="vote">投票 vote</option>
            <option value="draw">抽奖 draw</option>
            <option value="admin">全权管理员 admin</option>
        </select>
    </div>
    <div class="form-row">
        <label></label>
        <div><button type="submit" class="danger">授权</button></div>
    </div>
</form>

<h2>强制登入用户</h2>
<form method="post" action="{{ url_for('.post_user_login') }}">
    <div class="form-row">
        <label for="uid">用户 ID</label>
        <div><input type="number" id="uid" name="uid" required maxlength="10"></div>
    </div>
    <div class="form-row">
        <label></label>
        <div><button type="submit" class="danger">登入</button></div>
    </div>
</form>

{% endblock %}
