{% extends "index.html" %}
{% block title %}志愿者招募{% endblock %}

{% block page %}
<h2>{{ TITLE }} 志愿者招募</h2>
<p>每年的 AOSCC 我们都要迎接百余位来自各地的朋友，在欣喜与会者众多之余，我们需要不少人手帮助我们完成会务工作。</p>
<p>参与志愿工作的同时不仅可以助您积累举办大型活动的经验，还能在繁忙之余同来自五湖四海的朋友们建立友谊。{{ TITLE }} 有你更精彩！</p>
<p></p>
<p>志愿者的工作包括：</p>
<ul>
    <li>组织与会者签到</li>
    <li>协助物料管理</li>
    <li>维持会场秩序</li>
    <li>引导与会者</li>
    <li>清理会场卫生</li>
    <li>等等……</li>
</ul>
<p>
    为了帮助与会者迅速找到身边的志愿者，我们为志愿者定制了专属 T 恤和工作人员胸牌，如果您有意参与志愿工作，请完成
    <a href="{{ url_for('.badge') }}">胸牌定制</a>
    ，并在下方表单填写您的 T 恤尺码。
</p>
<p>我们将根据报名情况不定期邀请志愿者加入工作群组，报名后请留意系统通知。</p>
<h2>报名</h2>
{% if form %}
    {% if form['status'] > 0 %}
    <p>我们<strong>已确认</strong>您的报名，欢迎加入 {{ TITLE }} 工作组。</p>
    {% elif form['status'] < 0 %}
    <p>感谢您对 {{ TITLE }} 会务的支持和帮助，但我们目前人手已经足够，祝您参会愉快！</p>
    {% else %}
    <p>您的报名<strong>已提交</strong>，请留意后续系统通知。</p>
    <p>如需修改或取消报名，请点击下方按钮。</p>
    <form method="post" action="{{ url_for('.post_volunteer_cancel') }}">
        <button type="submit" class="danger">取消报名</button>
    </form>
    {% endif %}
{% elif not VOLUNTEER_OPEN %}
<div class="infobox">
    <p>感谢您的关注，志愿者招募已顺利完成，祝您参会愉快！</p>
</div>
{% else %}
<p>
    报名志愿者一般应有贡献者信任链支持：
    <ul>
        <li>如果您是社区贡献者，请填写 ID 并标明通讯平台</li>
        <li>如果您认识社区贡献者，请填写TA的联系信息，以便我们进行回访</li>
    </ul>
</p>
<form method="post">
    <div class="form-row">
        <label for="contrib">贡献者 ID</label>
        <input type="text" id="contrib" name="contrib" maxlength="30" placeholder="选填">
    </div>
    <div class="form-row">
        <label for="arrive">计划抵返日期</label>
        <div>
            <input type="date" id="arrive" name="arrive" required min="2025-07-21" max="2025-07-26">
            -
            <input type="date" id="depart" name="depart" required min="2025-07-27" max="2025-07-31">
        </div>
        <div>请注意：有意协助签到工作的志愿者需提前 1-2 日到达现场。</div>
    </div>
    <div class="form-row">
        <label for="tshirt">T 恤尺码</label>
        <div><select id="tshirt" name="tshirt" required>
            {% for size in VOLUNTEER_TSHIRT_SKU %}
            <option value="{{ size }}">{{ size }}</option>
            {% endfor %}
        </select></div>
        <div>尺码表请见<a href="https://www.tshe.com/items/151" target="_blank">此处</a>。</div>
    </div>
    <div class="form-row">
        <label for="other">备注与建议</label>
        <textarea id="other" name="other" rows="4" maxlength="500" placeholder="选填"></textarea>
        <div>欢迎您填写先前参与类似活动组织的经验，或者给我们留言。</div>
    </div>
    <div class="form-row">
        <label></label>
        <div><button type="submit" class="primary">报名！</button></div>
    </div>
</form>
{% endif %}
{% endblock %}
