{% extends "admin/index.html" %}
{% block title %}住宿管理{% endblock %}

{% block css %}
<style>
div:has(> #summary) {
    float: right;
}
table tr > * {
    border: var(--fg) solid 1px;
}
table tbody tr:hover {
    background-color: transparent;
}

table tr.blank td {
    border: none;
}

table tr.guest td:nth-child(2) {
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}

main:has(#summary:checked) .detail {
    display: none;
}

@media print {
    :root {
        --bg: white;
        --fg: black;
    }
    header,
    main > :not(.print),
    .detail,
    footer {
        display: none;
    }
    h2 {
        break-before: page;
    }
    table tbody {
        break-inside: avoid;
    }
}
</style>
{% endblock %}

{% block page %}
<div>
    <input type="checkbox" id="summary">
    <label for="summary">显示精简信息</label>
</div>

{% for type, rooms in arrange.items() %}
<h2 class="print">{{ type }}</h2>
<p>余 {{ vacancy[type] }} 间。</p>
<table class="print">
    {% for room in rooms %}
    <tbody>
        <tr>
            <th class="detail">ID</th>
            <th>昵称</th>
            <th>手机</th>
            <th>入住</th>
            <th>退房</th>
            <th class="detail">状态</th>
            <th class="detail">价格</th>
            <th class="detail">余额</th>
            <th class="detail">备注</th>
        </tr>
        {% for guest in room %}
        <tr class="guest">
            <td class="detail">{{ guest['uid'] | uid_link | safe }}</td>
            <td>{{ guest['nick'] }}</td>
            <td>{{ guest['phone'] }}</td>
            <td>{{ guest['checkin'][5:] }}</td>
            <td>{{ guest['checkout'][5:] }}</td>
            <td class="detail">{{ guest['status'] }}</td>
            <td class="detail">{{ guest['price'] | price | safe }}</td>
            {% if balance[guest['uid']] >= guest['price'] %}
            <td class="detail" style="color: gray">{{ balance[guest['uid']] | price | safe }}</td>
            {% else %}
            <td class="detail" style="color: red">{{ balance[guest['uid']] | price | safe }}</td>
            {% endif %}
            <td class="detail">{{ guest['other'] }}</td>
        </tr>
        {% endfor %}
        <tr class="blank">
            <td colspan="100"><small>组别：{{ room[0]['group'] }}</small></td>
        </tr>
    </tbody>
    <tr class="blank"><td colspan="100">&nbsp;</td></tr>
    {% endfor %}
</table>
{% endfor %}

{% endblock %}
