{% extends "base.html" %}
{% block title %}管理{% endblock %}

{% block main %}
<h1>管理</h1>
<p>您当前的角色是：{{ ' '.join(g.roles) }}</p>
<nav>
    <div>
        {% if has_role('*') %}
        <a class="button" href="{{ url_for('admin.index') }}">概览</a>
        <a class="button" href="{{ url_for('admin.users') }}">用户</a>
        {% endif %}
        {% if has_role('notify') %}
        <a class="button" href="{{ url_for('admin.notify') }}">通知</a>
        {% endif %}
        {% if has_role('checkin') %}
        <a class="button" href="{{ url_for('admin.user') }}">签到</a>
        {% endif %}
        {% if has_role('vote') %}
        <a class="button" href="{{ url_for('admin.vote') }}">投票</a>
        {% endif %}
        {% if has_role('draw') %}
        <a class="button" href="{{ url_for('admin.draw') }}">抽奖</a>
        {% endif %}
        <div class="spacer"></div>
    </div>
    <div>
        <div class="spacer"></div>
        {% if has_role('admin') %}
        <a class="button" href="{{ url_for('admin.db') }}">数据库</a>
        {% endif %}
        {% if has_role('*') %}
        <a class="button" href="{{ url_for('user.logout') }}">登出</a>
        {% endif %}
    </div>
</nav>
<hr>
{% block page %}
{% endblock %}
{% endblock %}

{% block footer_navigate %}
<a href="{{ url_for('user.index') }}">返回前台</a>
{% endblock %}
