{% extends "base.html" %}
{% block title %}管理{% endblock %}

{% block main %}
<h1>管理</h1>
<p>您当前的角色是：{{ ' '.join(g.roles) or '无' }}</p>
<p>请求授权 ID ：<code id="session">{{ session['id'] }}</code></p>
<nav>
    <div>
        {% if has_role('*') %}
        <a class="button" href="{{ url_for('admin.user') }}">用户</a>
        {% endif %}
        {% if has_role('payment') %}
        <a class="button" href="{{ url_for('admin.payment') }}">支付</a>
        {% endif %}
        {% if has_role('notify') %}
        <a class="button" href="{{ url_for('admin.notify') }}">通知</a>
        {% endif %}
        {% if has_role('checkin') %}
        <a class="button" href="{{ url_for('admin.checkin') }}">签到</a>
        {% endif %}
        {% if has_role('vote') %}
        <a class="button" href="{{ url_for('admin.vote') }}">投票</a>
        {% endif %}
        {% if has_role('draw') %}
        <a class="button" href="{{ url_for('admin.draw') }}">抽奖</a>
        {% endif %}
    </div>
    <div class="spacer"></div>
    <div>
        {% if has_role('admin') %}
        <a class="button" href="{{ url_for('admin.db') }}">数据库</a>
        <a class="button" href="{{ url_for('admin.grant') }}">权限</a>
        {% endif %}
        {% if has_role('*') %}
        <a class="button" href="{{ url_for('admin.revoke') }}">登出</a>
        {% endif %}
    </div>
</nav>
<hr>
{% block page %}
{% if has_role('*') %}
<p>请选择一个模块开始。</p>
{% endif %}
{% endblock %}
<script>
    document.getElementById('session').addEventListener('click', (event) => {
        navigator.clipboard.writeText(event.currentTarget.textContent);
        setTimeout(() => {alert('已复制！')}, 200);
    })
</script>
{% endblock %}

{% block footer_navigate %}
<a href="{{ url_for('user.register') }}">返回前台</a>
{% endblock %}
