{% extends "admin/index.html" %}
{% block title %}订货统计{% endblock %}

{% macro table(rows, th) -%}
<table>
    <thead>
        <tr>
            <th>{{ th }}</th>
            <th>已下单</th>
            <th>生产中</th>
            <th>已发货</th>
            <th>合计</th>
        </tr>
    </thead>
    <tbody>
        {% for k, v in rows.items() %}
        {% if k is not none %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v[0] }}</td>
            <td>{{ v[1] }}</td>
            <td>{{ v[2] }}</td>
            <th>{{ v[none] }}</th>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>合计</th>
            <th>{{ rows[none][0] }}</th>
            <th>{{ rows[none][1] }}</th>
            <th>{{ rows[none][2] }}</th>
            <th>{{ rows[none][none] }}</th>
        </tr>
    </tfoot>
</table>
{%- endmacro %}

{% block page %}
<h2>订货统计</h2>

<h3>总览</h3>
{{ table(stat[none], '品项') }}

{% for item, detail in stat.items() %}
{% if item is not none and '' not in detail %}
<h3>{{ item }}</h3>
{{ table(detail, '型别') }}
{% endif %}
{% endfor %}

{% endblock %}
