{% extends "admin/index.html" %}
{% block title %}{{ '用户' if user else '签到' }}{% endblock %}

{% macro item_list(items, show_buttons=False) -%}
<table>
    <thead>
        <tr>
            <th>品项</th>
            <th>型别</th>
            <th>数量</th>
            {% if show_buttons %}
            <th>操作</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item['item'] }}</td>
            <td>{{ item['spec'] }}</td>
            <td>{{ item['quantity'] }}</td>
            {% if show_buttons %}
            <td>
                <form method="post"
                    action="{{ url_for('admin.post_merch_pickup', uid=uid, bid=item['bid']) }}"
                    onsubmit="return confirm('确认已交付 {{ item['quantity'] }} 件{{ item['item'] }}（{{ item['spec'] }}）吗？')">
                    <button type="submit" class="primary">确认交付</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}

{% block css %}
<style>
article {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}
article > div {
    flex: 1 1 min-content;
}
article > aside {
    flex: 0 0 15rem;
    text-align: right;
}
article > aside img {
    width: 100%;
    background-image: url('{{ url_for("static", filename="badge/template.png") }}');
    background-size: cover;
}
</style>
{% endblock %}

{% block page %}

{% if has_role('checkin') %}
<h2>签到</h2>
<form method="post" action="{{ url_for('admin.post_checkin') }}">
    <div class="form-row">
        <label for="token">扫描签到码</label>
        <input type="password" id="token" name="token" required
            maxlength="200" autocomplete="off" autofocus>
        </div>
    </div>
    <div class="form-row">
        <label></label>
        <div><button type="submit" class="primary">提交</button></div>
    </div>
</form>
<script>
    document.addEventListener('keydown', (event) => {
        if (['INPUT', 'TEXTAREA'].includes(document.activeElement.tagName)) return;
        document.getElementById('token').focus();
    })
</script>
{% endif %}

{% if user %}
<h2>用户信息</h2>
<article>
    <div>
        {% if has_role('checkin') and not scanned %}
        <div class="form-row" style="background-color: #f007">
            <label><strong>注意！</strong></label>
            <div><strong>当前查看的不是最后扫码的与会者！</strong></div>
        </div>
        {% endif %}
        <div class="form-row">
            <label>用户 ID</label>
            <div>{{ user['uid'] }}</div>
        </div>
        <div class="form-row">
            <label>昵称</label>
            <div><strong>{{ user['nick'] }}</strong></div>
        </div>
        <div class="form-row">
            <label>登录身份</label>
            <div>{{ user['type'] }}:{{ user['identity'] }}</div>
        </div>
        <div class="form-row">
            <label>账单结欠</label>
            <div>
                {% if balance > 0 %}
                <strong style="color: red">{{ balance | price | safe }}</strong>
                {% else %}
                {{ balance | price | safe }}
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <label>注册时间</label>
        {% if not register %}
            <div>尚未注册</div>
        </div>
        {% else %}
            <div>{{ register['t'] | ts2dt | datetime }}</div>
        </div>
        <form method="post" action="{{ url_for('admin.post_user_checkin', uid=user['uid']) }}">
            <div class="form-row">
                <label>签到时间</label>
                <div>
                    {% if register['arrived'] %}
                    {{ register['arrived'] | ts2dt | datetime }}
                    {% if has_role('checkin') %}
                    <button type="submit" class="danger" name="action" value="cancel"
                        onclick="return confirm('确定要撤销签到？')">
                        撤销签到
                    </button>
                    {% endif %}
                    {% else %}
                    尚未签到
                    {% if has_role('checkin') %}
                    <button type="submit" class="primary" name="action" value="checkin">
                        签到
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="form-row">
            <label>胸牌</label>
            <div>
                {% if badge %}
                    {% if badge['line1'] %}
                    <strong>文本定制</strong>（{{ badge['line1'] }}）
                    {% else %}
                    <strong>图片定制</strong>
                    {% endif %}
                {% else %}
                非定制
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <label>住宿</label>
            <div>
                {% if accommo %}
                <strong>{{ accommo['type'] }}</strong>（{{ accommo['group'] }}）
                <br>
                {{ accommo['checkin'] }} 入住 {{ accommo['checkout'] }} 退房
                {% else %}
                未预订
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <label>志愿者</label>
            <div>
                {% if volunteer %}
                <strong style="color: green">是</strong>（{{ volunteer['tshirt'] }}）
                {% else %}
                <span style="color: red">否</strong>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <form method="post" action="{{ url_for('admin.post_user_remarks', uid=user['uid']) }}">
            <div class="form-row">
                <label for="remarks">会务备注</label>
                <textarea id="remarks" name="remarks" rows="5" maxlength="500">{{ user['remarks'] }}</textarea>
                <div>REGOK 允许用户注册 NOREG 禁止用户注册 HOLD 禁止取消注册</div>
            </div>
            <div class="form-row">
                <label></label>
                <div><button type="submit">保存</button></div>
            </div>
        </form>
    </div>
    {% if badge %}
    <aside>
        <h3>胸牌预览</h3>
        <img src="{{ url_for('admin.user_badge', uid=uid) }}">
    </aside>
    {% endif %}
</article>

<h2>纪念品</h2>

{% if ready %}
<p>以下已交付生产但未邮寄发货的纪念品可供提货。</p>
{{ item_list(ready, has_role('checkin')) }}
<form method="post" action="{{ url_for('admin.post_merch_pickup', uid=uid) }}"
    onsubmit="return confirm('确认已将全部物品，全部物品，全部物品交付与会者？？')">
    <p><button type="submit" class="danger">全部交付</button></p>
</form>
{% else %}
<p>无可提货项目。</p>
{% endif %}

{% if shipped %}
<p>以下是已交付或邮寄发货的项目。</p>
{{ item_list(shipped) }}
{% endif %}

{% if notready %}
<p>以下是尚未准备好的项目。</p>
{{ item_list(notready) }}
{% endif %}

{% if has_role('notify') %}
<h2>通知</h2>
<a class="button" href="{{ url_for('admin.notify', uids=uid) }}">发送通知</a>
{% if info %}
<details>
    <summary>备用联系方式</summary>
    {% for k, v in info.items() %}
    <p>{{ k }}: {{ v }}</p>
    {% endfor %}
</details>
{% endif %}
{% endif %}


{% if has_role('admin') %}
<h2>登入</h2>
<form method="post" action="{{ url_for('admin.post_user_login') }}">
    <input type="hidden" name="uid" value="{{ uid }}">
    <button type="submit" class="danger">强制登入</button>
</form>
{% endif %}

{% endif %}
{% endblock %}
