{% extends "admin/base.html" %}
{% block title %}{{ '用户' if user else '签到' }}{% endblock %}

{% block css %}
<style>
article {
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
}
article > div {
    flex: 1 1 min-content;
}
article > aside {
    flex: 0 0 15rem;
    text-align: right;
}
article > aside img {
    width: 100%;
    background-image: url('{{ url_for("static", filename="badge/template.png") }}');
    background-size: cover;
}
</style>
{% endblock %}

{% block page %}

{% if has_role('checkin') %}
<h2>签到</h2>
<form method="post" action="{{ url_for('admin.post_checkin') }}">
    <div class="form-row">
        <label for="token">扫描签到码</label>
        <input type="password" id="token" name="token" required
            maxlength="200" autocomplete="off" autofocus>
        </div>
    </div>
    <div class="form-row">
        <label></label>
        <div><button type="submit" class="primary">提交</button></div>
    </div>
</form>
<script>
    document.addEventListener('keydown', (e) => {
        if (e.ctrlKey || e.altKey || e.shiftKey || e.metaKey) return;
        if (['INPUT', 'TEXTAREA'].includes(document.activeElement.tagName)) return;
        document.getElementById('token').focus();
    })
</script>
{% endif %}

{% if user %}
<h2>用户信息</h2>
<article>
    <div>
        {% if has_role('checkin') and not scanned %}
        <div class="form-row" style="background-color: #f007">
            <label><strong>注意！</strong></label>
            <div><strong>当前查看的不是最后扫码的与会者！</strong></div>
        </div>
        {% endif %}
        <div class="form-row">
            <label>用户 ID</label>
            <div>{{ user['uid'] }}</div>
        </div>
        <div class="form-row">
            <label>昵称</label>
            <div><strong>{{ user['nick'] }}</strong></div>
        </div>
        <div class="form-row">
            <label>Telegram</label>
            <div>{{ user['telegram'] }}</div>
            {% if has_role('admin') and user['telegram'] %}
            <a target="_blank" href="{{ url_for('admin.user_telegram_info', uid=user['uid']) }}">
                账号信息
            </a>
            {% endif %}
        </div>
        <div class="form-row">
            <label>邮箱</label>
            <div>{{ user['email'] }}</div>
        </div>
        {% if has_role('notify') %}
        <div class="form-row">
            <label>通知</label>
            <div>
                <a class="button" href="{{ url_for('admin.notify', uids=uid) }}">发送通知</a>
            </div>
        </div>
        {% endif %}
        <div class="form-row">
            <label>注册时间</label>
            {% if not register %}
            <div>尚未注册</div>
            {% else %}
            <div>{{ register['registered'] | ts2dt | datetime }}</div>
            {% endif %}
        </div>
        {% if register %}
        <div class="form-row">
            <label>确认时间</label>
            {% if not register['confirmed'] %}
            <div>尚未确认</div>
            {% else %}
            <div>{{ register['confirmed'] | ts2dt | datetime }}</div>
            {% endif %}
        </div>
        <form method="post" action="{{ url_for('admin.post_user_checkin', uid=user['uid']) }}">
            <div class="form-row">
                <label>签到时间</label>
                <div>
                    {% if register['arrived'] %}
                    {{ register['arrived'] | ts2dt | datetime }}
                    {% if has_role('checkin') %}
                    <button type="submit" class="danger" name="action" value="cancel"
                        onclick="return confirm('确定要撤销签到？')">
                        撤销签到
                    </button>
                    {% endif %}
                    {% else %}
                    尚未签到
                    {% if has_role('checkin') %}
                    <button type="submit" class="primary" name="action" value="checkin">
                        签到
                    </button>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="form-row">
            <label>胸牌</label>
            <div>
                {% if badge %}
                    {% if badge['line1'] %}
                    <strong>文本定制</strong>（{{ badge['line1'] }}）
                    {% else %}
                    <strong>图片定制</strong>
                    {% endif %}
                {% else %}
                非定制
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <label>志愿者</label>
            <div>
                {% if volunteer %}
                <strong style="color: green">是</strong>（{{ volunteer['tshirt'] }}）
                {% else %}
                <span style="color: red">否</strong>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <form method="post" action="{{ url_for('admin.post_user_remarks', uid=user['uid']) }}">
            <div class="form-row">
                <label for="remarks">会务备注</label>
                <textarea id="remarks" name="remarks" rows="5" maxlength="500">{{ user['remarks'] }}</textarea>
                <div>REGOK 可允许用户注册</div>
            </div>
            <div class="form-row">
                <label></label>
                <div><button type="submit">保存</button></div>
            </div>
        </form>
    </div>
    {% if badge %}
    <aside>
        <h3>胸牌预览</h3>
        <img src="{{ url_for('admin.user_badge', uid=uid) }}">
    </aside>
    {% endif %}
</article>

{% if has_role('admin') %}
<h2>登入</h2>
<form method="post" action="{{ url_for('admin.post_force_login', uid=uid) }}"
    onsubmit="return confirm('当前管理员账号将会被登出，确定要强制登入该用户吗？')">
    <button type="submit" class="danger">强制登入</button>
</form>
{% endif %}

{% endif %} {# user #}

{% endblock %}
